body {
  background-color: hsl(200, 20%, 10%);
  color: white;
  font-family:  sans-serif;
}

p {
  margin: 2em;
  line-height: 2;
}

.image-container{
  margin: 0 auto 1em;
}

.image-initial-size{
  width: 220px;
  height: 220px;
}

.image-item{
  position: absolute;
}

.canvas-image {
  background-color: hsl(200, 20%, 25%);
}

.canvas-overlay{
  background-color:  hsl(1, 1%, 1%);
  background-color: hsla(1, 1%, 1%, 0.1);
  cursor: crosshair;
}

.addimage{
  background-color: hsl(200, 20%, 30%);
  border: 2px dashed white;
  border-radius: 4px;
  padding: 0;
  color: white;
  font-size: 80%;
  text-align: center;
}

.hide{
  display: none;
}

.dim{
  opacity: 0.1;
}

.text__warning{
  color: hsl(1, 100%, 60%);
}

.__centered{
  width: 320px;
  margin: 0 auto;
}
