/* ================================== Base ================================== */
body {
  background-color: hsl(200, 20%, 10%);
  color: white;
  font-family:  sans-serif;
}

p {
  margin: 2em;
  line-height: 2;
}

/* ================================= Module ================================= */
.image-container{
  margin: 0 auto 1em;
}

.variable-size{
  width: 220px;
  height: 220px;
}

.canvas-image {
  background-color: hsl(200, 20%, 25%);
}

.canvas-overlay{
  background-color:  hsl(1, 1%, 1%);
  background-color: hsla(1, 1%, 1%, 0.1);
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.canvas-overlay:active{
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.drop-zone{
  background-color: hsl(200, 20%, 30%);
  border: 2px dashed white;
  border-radius: 4px;
  padding: 0;
  color: white;
  font-size: 80%;
  text-align: center;
  overflow: hidden;
}

#file-select p{
  margin: auto 0;
  font-size: 80%;
  display: inline;
}

/* ================================= Layout ================================= */
.l-centered{
  width: 320px;
  margin: 0 auto;
}

.l-position-absolute{
  position: absolute;
}

/* ================================= State ================================== */
.__hide{
  display: none;
}

.__warning{
  color: hsl(1, 100%, 60%);
}
